[user]
        email = mituan@126.com
        name = sleepyblackcat
[push]
				default = simple
[commit]
        template = ~/.gitmessage
[alias]
        gl = log --decorate --graph
[core]
				editor = vim